body{
    background-color: black;

}

img{
    margin-top: 15px;
    margin-left: 450px;
    width: 35%;
    height: 300px;
    border: 2px solid wheat;
    padding: 15px;
}

h1{
    color: aquamarine;
    font-size: 35px;
    text-transform: uppercase;
}

p,ul li{
    color: gray;
    font-size: 25px;
}