body{
    background-color: black;
    color: gray;
}

#cuisine{
    margin-top: 50px;
    margin-left: 550px;

    
}

#cuisine a{
    font-size: 40px;
    color: maroon;
    text-transform: uppercase;
    text-decoration: none;
}

h1{
    color: aquamarine;
    font-size: 35px;
    text-transform: uppercase;
}

a{
    color: palevioletred;
    font-size: 20px;
}

p{
    font-size: 25px;
    border: 2px solid wheat;
    padding: 25px;
    border-radius: 9px;
}
