
body{
    background-color:lightcyan;
}

form{
    background-color:darkcyan;
    color: white;
    width: 25%;
    border: 5px solid black;
    margin-left: 500px;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 9px;
}

h1{
    margin-left: 500px;
}




button{
    width: 300px;
    height: 35px;
    background-color: brown;
    color: white;
    font-size: 20px;
}